body {
   background-color: #eee4b0;
}

.parent-container h1, .parent-container h2 {
   text-align: center;
}

.container {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   width: 350px;
}

.cookie-jar {
   width: 100%;
}

.take-btn {
   position: absolute;
   z-index: 10;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   border: none;
   width: 125px;
   padding: 7px 0px;
   background-color: #87562b;
   color: white;
   box-shadow: 2px 3px #3d3a37;
}

.add-btn {
   position: absolute;
   z-index: 10;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);

   border: none;
   width: 125px;
   padding: 7px 0px;
   background-color: #87562b;
   color: white;
   box-shadow: 2px 3px #3d3a37;
}

img.cookie {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   z-index: 11;
}

div.cookie {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   font-size: 1.2em;
   z-index: 12;
}

textarea.cookie{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.2em;
   z-index: 12;
}

input.cookie {
   position: absolute;
   top: 60%;
   left: 80%;
   transform: translate(-50%, -50%);
   z-index: 13;
}

.cookie span {
      padding: 1px 2px;
      background-color: white;
}

.hidden {
   visiblity: hidden;
}
