.container {
   position: relative;
   width: 300px;
}

.container .button {
   position: absolute;
   z-index: 10;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

img.cookie {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   z-index: 11;
}

div.cookie {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   font-size: 1.2em;
   z-index: 12;
}

.cookie span {
      padding: 1px 2px;
      background-color: white;
}

.cookie-btn-container {
   position: relative;
   width: 80px;
   height: 80px;
   margin-left: 275px;
}

img.cookie-btn {
   position: absolute;
}

div.cookie-btn {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
}

.hidden {
   visiblity: hidden;
}
